프로젝트 당 3챕터 (최대 5장 넘기지 않을 것; 3장이 베스트)
프로젝트 목적 + 배경
어떤 문제, 어떤 기능을, 어떤 병목을 개선
개선 아이디어를 어디서 차용
AS-IS
수정 이전 구조
문제 유발 이유 설명
TO-BE
수정 이후 구조 (개선안)
문제가 어떻게 해결되는지 설명
완료된 프로젝트인 경우
개선 결과를 보여줄 수 있는 결과 첨부
선능 그래프
기능 동작 등

---
